.startscreen {
  background-image: url("../../assets/BG.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;

  width: 360px;
  height: 800px;

  display: flex;
  justify-content: center;
}

.logodiv .logo {
  width: 241px;
  height: 136px;
  position: relative;
  animation-name: logo;
  animation-duration: 5s;
}

@keyframes logo {
 
  50% {
    top: 50%;
  }
  
  100% {
    top: 71px;
  }
}
