.homescreen {
    background: url(../../assets/BG1.png);
    background-repeat: no-repeat;
    background-color: #F4ECFF;
    display: flex;
    width: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memeTemplateContainer {
    width: 336px;
}

.logo-container {
display: flex;
justify-content: center;
align-items: center;
margin-top: 24px;
}

.DynammicDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin-top: 24px;
}

.ButtonDiv button {
    width: 155px;
    height: 36px;
    cursor: pointer;
    border: 1.67px solid #000000;
    background-color: #FFFFFF8A;
    box-shadow: 0px 1.67px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 5.84px 1.67px 0px rgba(0, 0, 0, 0.25);
    margin-top: 12px;
    
}
.Popular-Button {
    border-radius: 8px;
    font-family: "Dela Gothic One" , sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0px #060000,
    2px 2px 0px #080206;
    -webkit-text-stroke: 0.63px #060000;
    transform: skewX(-15deg);
    transition: 0.3 ease;

    color: #FEFDFB;
}

.GameWise-Button {
    border-radius: 8px;
    font-family: "Dela Gothic One" , sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0px #060000,
    2px 2px 0px #080206;
    -webkit-text-stroke: 0.63px #060000;
    transform: skewX(-15deg);
    transition: 0.3 ease;

    color: #FEFDFB;
}

.Popular-Button.active , .GameWise-Button.active{
    background-color: #F3BC00;
    box-shadow: 0px 1.76px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 6.16px 1.76px 0px rgba(0, 0, 0, 0.25);
    width: 180px;
    height: 40px;
    overflow: hidden;
    border: 1.76px solid rgba(0, 0, 0, 1);
    font-size: 14px;
    transition: 0.3 ease;
    

  }


 .gamelist {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 8px;

}

.Gamelisthome {
    margin-top: 32px;
}
  .game {
    height: 132px;
    width: 104px;
    background-color: #FFFFFF;
    border-width: 1px 1px 4px 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 8px 8px 0px #0000003D;

}

.game img {
    width: 104px;
    height: 104px;
    
}

.game p {
    margin-top: 1px;
    height: 12px;
    width: 88px;
    margin-left: 8px;

    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    color: #000000  ;
    

}


.memes-template {
    display: grid;
    grid-template-columns: auto auto ;
    margin-top: 32px;
    grid-gap: 8px;
}

.add-caption-div {
    width: 162px;
    height: 32px;
    display: flex;
    align-items: center;
    
}

.add-caption-div button {
    border: none;
}
.meme-image-div {
    width: 162px;
    height: 162px;
}

.meme-image-div img {

    width: 162px;
    height: 162px;
}

.meme-template-container {
    position: relative;
    display: inline-block;
    width: 162px;
    height: 202px;
    border-radius: 8px;
    border-width: 1px 1px 4px 1px;
    border-style: solid;
    border-color: #000000;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 8px 0px #0000003D;

}

.add-caption-div button {
    width: 162px;
    padding: 8px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    font-family: "Montserrat" ,sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

.add-caption-div img {
    margin-left: 12px;
}

.meme-template-page {
    background-color: #D6D1CC;
    padding: 4px;
}

.eye {
    position: absolute;
    top: 10px; 
    right: 10px; 
    width: 15px; 
    height: 10px; 
    cursor: pointer;
}


.heading {
    width: 245px;
    height: 17px;
    font-family: "Montserrat" , sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    color: #FFFFFF;
}