.button-container {
  width: 336px;
  height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Dela Gothic One";
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black,
    -2px 2px 0 black, 2px 0 0 black, -2px 0 0 black, 0 2px 0 black,
    0 -2px 0 black;
  color: #fefdfb;
  letter-spacing: 1.5px;
  line-height: 60.63px;
}

.buttonme {
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-div {
  left: 0; /* Keep this button on the left */
  z-index: 1;
}

.game-div {
  right: 0; /* Keep this button on the right */
  z-index: 0;
}

.button-active {
  width: 180px;
  height: 40px;
  background: linear-gradient(
    to bottom,
    #fbeb00 10%,
    #f3bc00 10%,
    #f3bc00 90%,
    #ed8d00 90%
  );
  transform: skew(-8deg);
  border-radius: 12px;
  border-top: 2px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3.5px solid #000;
  border-left: 2px solid #000;
  box-shadow: 0px 1.76px 0px 0px #000000;
  z-index: 2;
  font-size: 14px;
}

.button-inactive.popular-div {
  width: 305px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.54);
  z-index: 1;
  justify-content: flex-start;
  transform: skew(-8deg);
  border-radius: 12px;
  border-top: 2px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3.5px solid #000;
  border-left: 2px solid #000;
  box-shadow: 0px 1.76px 0px 0px #000000;
  padding-left: 10px;
  font-size: 12px;
}

.button-inactive.game-div {
  width: 300px;
  height: 36px;
  font-size: 12px;
  padding-right: 25px;
  background-color: rgba(255, 255, 255, 0.54);
  z-index: 1;
  justify-content: flex-end;
  transform: skew(-8deg);
  border-radius: 12px;
  border-top: 2px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3.5px solid #000;
  border-left: 2px solid #000;
  box-shadow: 0px 1.76px 0px 0px #000000;
}

.maindiv {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.polygon {
  position: absolute;
  width: 18px;
  height: 17px;
  z-index: 1;
}

.controlbutton {
  width: 40px;
  height: 38px;
  background: linear-gradient(
    to bottom,
    #9a37e0 10%,
    #6e22bf 10%,
    #7832ca 90%,
    #5700bd 90%
  );
  transform: skew(-8deg);
  border: 1.63px solid #360076;
  border-radius: 8px;
  box-shadow: 0px 1.63px 0px 0px #360076;

  box-shadow: 0px 5.7px 1.63px 0px #00000040;
}

.edittoolsmaindiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--button-width);
  height: 35px;
  padding-left: 2px;
  padding-right: 2px;
  background: linear-gradient(
    to bottom,
    var(--gradient-start) 10%,
    var(--gradient-mid) 10%,
    var(--gradient-mid) 90%,
    var(--gradient-end) 90%
  );
  transform: skew(-4deg);
  border-radius: 12px;
  border-top: 2px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3.5px solid #000;
  border-left: 2px solid #000;
  box-shadow: 0px 1.76px 0px 0px #000000;
}

.edittoolsbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.edittoolstext {
  color: #fefdf8;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-family: "Dela Gothic One", sans-serif;
  letter-spacing: 3px;
  line-height: 51.89px;
  text-align: center;
  text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black,
    -2px 2px 0 black, 2px 0 0 black, -2px 0 0 black, 0 2px 0 black,
    0 -2px 0 black;
}


