.gamememe {

    width: 360px;
    height: 63px;
}

.selectedgame {
    display: flex;
    align-items: center;
    height: 36px;
}

.backfloww {
    display: flex;
    align-items: center;
    background-color: #F4ECFF;
    box-shadow: 0px 4px 12px 0px #00000029;
    padding: 12px;

}

.backimg {
width: 43px;
height: 39px;
border: 1.63px solid #360076;
transform: skewX(-9deg);
border-radius: 8px;
background-color: #360076;
box-shadow: 0px 1.63px 0px 0px #000000;

box-shadow: 0px 5.7px 1.63px 0px #00000040;



}

.backtext {
    font-family: "Dela Gothic One" , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #360076;
    margin-left: 12px;
}
.selectedimg {

    border-radius: 8px;
    height: 36px;
    width: 36px;
}

.gamename {
    margin-left: 8px;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 600;
    color: #3B5C6B;
}

.memepage {
    display: flex;
    flex-direction: column;
}

.gamelistdiv{
    width: 360px;
}

.memes-template {
    width: 336px;
}

.memepagediv{
    display: flex;
    justify-content: center;
    align-items: center;
}