.gamememe {

    width: 360px;
    height: 90px;
}

.selectedgame {
    display: flex;
    align-items: center;
    height: 36px;
}

.backfloww {
    display: flex;
    align-items: center;
}

.backimg {
width: 14.63px;
height: 13.5px;
border: 2px 0px 0px 0px;


}

.backtext {
    margin-left: 10px;
    font-size: 14px;
    color: #3B5C6B;
    height: 17px;
}
.selectedimg {

    border-radius: 8px;
    height: 36px;
    width: 36px;
}

.gamename {
    margin-left: 8px;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 600;
    color: #3B5C6B;
}

.memepage {
    display: flex;
    flex-direction: column;
}

.gamelistdiv{
    width: 360px;
}