.editscreen {
  position: relative;
  z-index: 1; /* Ensure it is above the overlay */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 360px;
}

.backflow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 63px;
  background-color: #f4ecff;
}

.crossimg {
  width: 43px;
  height: 43px;
}
.startbuttondiv {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 360px;
  height: 103px;
  background: linear-gradient(
    180deg,
    rgba(244, 236, 255, 0) 0%,
    rgba(244, 236, 255, 0.615267) 23.38%,
    #f4ecff 100%
  );
  margin-top: 100px;
}

.starteditbutton {
  background-image: url("../../assets/startedit1.svg"); /* Path to your SVG file */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the background image */
  background-size: contain; /* Make sure the image fits within the button */
  border: none;
  text-align: center;
  padding: 0;
  display: inline-block;

  width: 336px;
  height: 55px;
  text-shadow: 1px 1px 0px #060000, 2px 2px 0px #080206;
  -webkit-text-stroke: 0.63px #060000;

  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefdfb;
}

.addtextbutton {
  background-image: url("../../assets/addtext.svg"); /* Path to your SVG file */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the background image */
  background-size: contain; /* Make sure the image fits within the button */
  border: none;
  text-align: center;
  padding: 0;
  display: inline-block;

  -webkit-text-stroke: 0.63px #060000;
  width: 116px;
  height: 42px;

  font-family: "Dela Gothic One", sans-serif;
  letter-spacing: 4%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefdfb;
}
.addmusicbutton {
  background-image: url("../../assets/addmusic.svg"); /* Path to your SVG file */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the background image */
  background-size: contain; /* Make sure the image fits within the button */
  border: none;
  text-align: center;
  padding: 0;
  display: inline-block;
  -webkit-text-stroke: 0.63px #060000;
  width: 116px;
  height: 42px;
  font-family: "Dela Gothic One", sans-serif;
  letter-spacing: 2%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefdfb;
  margin-left: 15px;
}
.backdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.memecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 382px;
}

.memecontainerstart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 336px;
  height: 507px;
  padding: 12px;
}

.memecontainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px;
}
.addtextdiv {
  display: flex;
  flex-direction: column;
}
.button {
  width: 97px;
  padding: 12px 8px;
  border-radius: 8px;
  background-color: #fff;
  border: none;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-top: 20px;
}

.buttonsdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .sharebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 32px;
    background-color: #FFFFFF52;
    border-radius: 8px;
    border: none;

    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat"  , sans-serif;

}
*/

.textarea {
  background-color: #ffffff52;
  width: 336px;
  height: 80px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.textdiv {
  margin-top: 20px;
}

.settings {
  display: flex;
  position: fixed;
  width: 360px;
  height: 48px;
  bottom: 0;
}

.colorPicker {
  display: flex;
  margin-left: 12px;
}
.increasebutton {
  width: 24px;
  height: 24px;
  border-radius: 10px;
  border: none;
}

.decreasebutton {
  margin-left: 8px;
  font-size: 13px;
  width: 24px;
  height: 24px;
  border-radius: 10px;
  border: none;
}

.whitecolor {
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 8px;
}

.blackcolor {
  height: 24px;
  width: 24px;
  background-color: #000000;
  border-radius: 10px;
}

.donebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 59px;
  height: 24px;
  border-radius: 8px;
  margin-left: 145px;
}

.selectedgameasset {
  grid-gap: 8px;
  margin-top: 19px;
}

::-webkit-scrollbar {
  display: none;
}

.assetImg {
  height: 72px;
  width: 72px;
  border-radius: 8px;
}

.selectedAssetContainer {
  width: 68px;
  height: 93px;
}

.liveTextDiv {
  width: 193px;
  height: 66px;
}

.containerDiv {
  padding: 14px;
}

.gameassetpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px, 1px, 0px, 1px;
  background: #00000052;
  padding-top: 16px;
  border-radius: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: #ffffff;
}

.inputbar {
  margin-top: 12px;
  width: 324px;
  height: 40px;
  border-top: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  background-image: url("");
  background-repeat: no-repeat;
}

.loadasset {
  margin-top: 12px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 12px;
}

.edittools {
  width: 360px;
}

.backflowdiv {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 336px;
  height: 39px;
  padding: 12px;
}

.crossbutton {
  background-image: url("../../assets/cross4.svg"); /* Path to your SVG file */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the background image */
  background-size: contain; /* Make sure the image fits within the button */
  border: none;

  width: 43px;
  height: 39px;
}

.crosstext {
  margin-left: 12px;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  color: #360076;
}

.homebutton {
  background-image: url("../../assets/home.svg"); /* Path to your SVG file */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the background image */
  background-size: contain; /* Make sure the image fits within the button */
  border: none;

  width: 43px;
  height: 39px;
}

.sharebutton {
    background-image: url("../../assets/share.svg"); /* Path to your SVG file */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
    background-size: contain; /* Make sure the image fits within the button */
    border: none;
  
    width: 43px;
    height: 39px;
  }

  .twobuttons {
    margin-right: 12px;
  }